search
<div>
	<!-- <h2>Search By Book Name</h2> -->
	<form (ngSubmit)="searchBooksByName()">
		<mat-form-field>
			<input matInput  type="text" class="search" placeholder="Search By Book Name"  [(ngModel)]="bookName" id="searchBox" name="bookName" > 
		</mat-form-field>
		<button mat-button type="submit" ><mat-icon>search</mat-icon></button>
	</form>
</div>
<div>
	<!-- <h2>Search By ISBN Number</h2> -->
	<form (ngSubmit)="searchBooksById()" method="get">
		<mat-form-field>
			<input matInput type="text" placeholder="Search By Book ISBN Number" [(ngModel)]="bookId" name="bookIsbnNumber"  pattern="(\d)*"> 
		</mat-form-field>
		<button mat-button type="submit" ><mat-icon>search</mat-icon>
			<!-- <svg><use xlink:href="#search"></use></svg> -->
		</button>
    </form>
</div>
	
	<svg  xmlns="http://www.w3.org/2000/svg" width="0" height="0" viewBox="0 0 24 24">
		<defs>
			<path id="search" d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z"/>
		</defs>  
	</svg>
	<div class="data"	*ngIf=tableSource><table class="table" mat-table [dataSource]="tableSource">
		<ng-container matColumnDef="bookId">
			<th mat-header-cell *matHeaderCellDef>Book Id</th>
			<td mat-cell *matCellDef="let request"><span>{{request.bookId}}</span></td>
		</ng-container>
		<ng-container matColumnDef="bookIsbnNumber">
			<th mat-header-cell *matHeaderCellDef>Book ISBN Number</th>
			<td mat-cell *matCellDef="let request">{{request.bookIsbnNumber}}</td>
		</ng-container>
		
		<ng-container matColumnDef="bookAuthorName">
			<th mat-header-cell *matHeaderCellDef>Book Author Name</th>
			<td mat-cell *matCellDef="let request">{{request.bookAuthorName}}</td>
		</ng-container>
		
		<ng-container matColumnDef="bookName">
			<th mat-header-cell *matHeaderCellDef>Book Name</th>
			<td mat-cell *matCellDef="let request">{{request.bookName}}</td>
		
		</ng-container>
		
		
		<ng-container matColumnDef="catogory">
			<th mat-header-cell *matHeaderCellDef>Catogory</th>
			<td mat-cell *matCellDef="let request">{{request.catogory}}</td>
		</ng-container>
		<ng-container matColumnDef="Actions">
			<th mat-header-cell *matHeaderCellDef>Actions</th>
		<td mat-cell *matCellDef="let request">
			<button mat-button *ngIf=!loginService.verifyAdmin()	(click)="requestBook(request)">Request Book</button>
		</td>
		
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="rowDetail"></tr>
		<tr mat-row *matRowDef="let row;columns:rowDetail"></tr>
		
	</table>
	<mat-paginator [pageSizeOptions]="[1,3,5]"></mat-paginator>
</div>
