h2{
    color: rgba($color:#00c3ffa1, $alpha: 0.5);
    font-style: italic;
    font-family: monospace;
    font-size: 3em;
    display: flex;
    justify-content: center;
}
form{
    display: inline;
    display: flex;
    justify-content: center;
}
table{
    tr:nth-child(even) {background-color: #00c3ffa1;
    color: white;
        button{
            color: white;
            background-color: initial;
            border: none;
        }
        td{
            padding:0px;
        }
} 
    margin-top: 5%;
    button{
        padding: 0px;
    }
    thead{
        background-color: rgba($color: #386faf, $alpha: 1.0);
    }
}