<form (ngSubmit)="register()">
    <h2 class="header">Register</h2>
    <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput type="text" [(ngModel)]="userDetail.userName" name="userName" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="text" [(ngModel)]="userDetail.password" name="password" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" [(ngModel)]="userDetail.email " name="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" [(ngModel)]="userDetail.phoneNumber" name="phoneNumber" >
    </mat-form-field>

    <button mat-button type="submit">Add User</button> 
</form>