<form (ngSubmit)="addBook()">
    <h2 class="header">Add Book</h2>
    <mat-form-field appearance="outline">
        <mat-label>Book Name</mat-label>
        <input matInput type="text" [(ngModel)]="bookDetail.bookName" name="bookName" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Book Author Name</mat-label>
        <input matInput type="text" [(ngModel)]="bookDetail.bookAuthorName" name="bookAuthorName">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Book Author Country</mat-label>
        <input matInput type="text" [(ngModel)]="bookDetail.authorCountry " name="authorCountry" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Book Isbn Number</mat-label>
        <input matInput type="text" [(ngModel)]="bookDetail.bookIsbnNumber" name="bookIsbnNumber" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Book Catogory</mat-label>
        <input matInput  type="text" [(ngModel)]="bookDetail.catogory" name="catogory" >
    </mat-form-field>

    <button mat-button type="submit">Add Book</button> 
</form>