@import '~@angular/material/theming';
$primary: mat-palette($mat-deep-purple);

form{
    align-content: center;
    margin-left: 40%;
    width: 20%;
    h2{
        color: mat-color($primary);
    //     font-style: italic;
    //     font-family: monospace;
    //     font-size: 3em;
    //     display: flex;
    //     justify-content: center;
    }
}
