@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
$primary: mat-palette($mat-deep-purple);

mat-toolbar{
    padding: 10px;
    margin: 0px;
    color: white;
    .title{
        position: absolute;
        margin-left: 45%;
        color: white;

    } 
    .login{
        float: right;
    }   
    a {
        text-decoration: none;
    }    
    display: block;
    .logged{
        padding: 0px;
        margin: 0px;
        float:right;
        display: flex;
        flex-direction: row;      
    }
    p{
        margin: 0px;
    }
    div{
        display: inline;
        a{
            color: white;
            margin-left: 1em;
        }
    }
}
app-messages{
    bottom: 0px;
    position: absolute;
    background-color: #0000ff91;
    width: 100%;
}
mat-sidenav-container,mat-sidenav-content{
    height: 100%;
}
mat-sidenav-container{

    mat-sidenav{
        width: 10%;
        bottom: unset;
        padding-bottom: 10px;
        background-color: mat-color($primary);
    }
    mat-sidenav-content{
        width: 90%;
        float: right;
    }
}
