<mat-toolbar color="primary">
  <div>
  <p class="title">{{title}}</p>
  
  <a routerLink="/" >  
    <mat-icon >home</mat-icon>

    Home</a>
    
  </div> 
  <div id="non-user-options" >
    <a routerLink="/searchBook">Search Book</a>
  </div>
  <div *ngIf=authenticated() class="logged">
  <p>Welcome {{userDetail.userName}}</p>
  <a routerLink="/" (click)=logout()>
    <mat-icon >power_settings_new</mat-icon>
    Log Out</a>
</div>
<div *ngIf=!authenticated() class="login">   
   <a routerLink="/login">
    <mat-icon >power_settings_new</mat-icon>
    Log In</a>
</div>
</mat-toolbar>

  <mat-sidenav-container color="primary">
    <mat-sidenav opened mode="side" *ngIf=verifyUser() class="sidenav" color="primary">
      <mat-nav-list>
        <a mat-list-item routerLink="/lentBooks">Lent Books</a> 
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav opened mode="side"  hasBackdrop=false color="primary" *ngIf=verifyAdmin()>      
    <mat-nav-list color="primary" class="sidenav">
      <a  mat-list-item color="primary" routerLink="/admin/register">Add User</a> 
      <a mat-list-item routerLink="/admin/addBook">Add Books</a> 
      <mat-list-item><a  matBadge="{{length}}" matBadgeColor="accent"  routerLink="/admin/approvel">Notification</a>
      </mat-list-item><a mat-list-item routerLink="/admin/users">User Detail</a>  
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>  
  </mat-sidenav-content>
  </mat-sidenav-container>


<app-messages></app-messages>