<div *ngIf="(requestDetail.lendDetail|json)!='[]'">
    <h2>Lent Requests</h2>
    <table class="users" >
    <th>Request Id</th><th>UserId</th><th>Book Id</th><th>Book Name</th>
    <th>Book ISBN Number</th><th>Book Author Names</th><th>Request Status</th>
    <tr *ngFor="let request of requestDetail.lendDetail | paginate:{ itemsPerPage:2,currentPage:p}" 
    >
        <td>{{request.requestId}}</td>
        <td>{{request.userDetail.userId}}</td>
        <td>{{request.bookDetail.bookId}}</td>
        <td>{{request.bookDetail.bookName}}</td>
        <td>{{request.bookDetail.bookIsbnNumber}}</td>
        <td>{{request.bookDetail.bookAuthorName}}</td>
        <td>{{request.lendStatus}}</td>

        <td><button	(click)="acceptRequest(request.requestId)">Approve</button></td>
        <td><button	(click)="rejectRequest(request.requestId)">Reject</button></td>
    </tr>
</table>  
<pagination-controls (pageChange)="p= $event"></pagination-controls>

</div>
<div *ngIf="(requestDetail.returnDetail|json)!='[]'">
    <h2>Return Requests</h2>

<table class="users" >
    <th>Request Id</th><th>UserId</th><th>Book Id</th><th>Book Name</th>
    <th>Book ISBN Number</th><th>Book Author Names</th><th>Request Status</th>
    <tr *ngFor="let request of requestDetail.returnDetail" 
    >
        <td>{{request.requestId}}</td>
        <td>{{request.userDetail.userId}}</td>
        <td>{{request.bookDetail.bookId}}</td>
        <td>{{request.bookDetail.bookName}}</td>
        <td>{{request.bookDetail.bookIsbnNumber}}</td>
        <td>{{request.bookDetail.bookAuthorName}}</td>
        <td>{{request.lendStatus}}</td>

        <td><button	(click)="acceptReturn(request.requestId)">Approve</button></td>
        <td><button	(click)="rejectReturn(request.requestId)">Reject</button></td>
               </tr>
</table>
</div> 
<div *ngIf="(requestDetail.delayedReturn|json)!='[]'"> 
    <h2> Delayed Returns</h2>  
<table class="users" >
    <th>Request Id</th><th>UserId</th><th>Book Id</th><th>Book Name</th>
    <th>Book ISBN Number</th><th>Book Author Names</th><th>Request Status</th>
    <tr *ngFor="let request of requestDetail.delayedReturn" 
    >
        <td>{{request.requestId}}</td>
        <td>{{request.userDetail.userId}}</td>
        <td>{{request.bookDetail.bookId}}</td>
        <td>{{request.bookDetail.bookName}}</td>
        <td>{{request.bookDetail.bookIsbnNumber}}</td>
        <td>{{request.bookDetail.bookAuthorName}}</td>
        <td>{{request.lendStatus}}</td>

               </tr>
</table>    
</div>
<div *ngIf=message>
    {{message}}
</div>
