
<div *ngIf=userDetail class="userDetail">

        <span class="user-data">{{userDetail.userName}}</span>
        <span class="user-data">{{userDetail.email}}</span>
        <span class="user-data">{{userDetail.phoneNumber}}</span>
        <span class="drop-down"  (click)="toggle()" >show more</span>
        
        <span class="drop-down-content" *ngIf="isClicked"><ul>
            <li (click)="getRequestedBooks()" class="more-options">Requested Books</li>
            <li (click)="getReturnedBooks()" class="more-options">Returned Books</li>
            <li (click)="requestedBooks()" class="more-options">Lented Books</li>
        </ul>
        </span>
        <mat-expansion-panel  >
            <mat-expansion-panel-header><mat-panel-title >Show More</mat-panel-title><mat-panel-description >Show More</mat-panel-description></mat-expansion-panel-header>
            <mat-button-toggle-group>
                <mat-button-toggle (click)="getRequestedBooks()" class="more-options">Requested Books</mat-button-toggle>
                <mat-button-toggle (click)="getReturnedBooks()" class="more-options">Returned Books</mat-button-toggle>
                <mat-button-toggle (click)="getLentedBooks()" class="more-options">Lented Books</mat-button-toggle>
                
            </mat-button-toggle-group>
    
        </mat-expansion-panel>

<div >	<table class="table" mat-table [dataSource]="bookDetail">
    <ng-container matColumnDef="bookId">
        <th mat-header-cell *matHeaderCellDef>Book Id</th>
        <td mat-cell *matCellDef="let request"><span>{{request.bookDetail.bookId}}</span></td>
    </ng-container>
    <ng-container matColumnDef="bookIsbnNumber">
        <th mat-header-cell *matHeaderCellDef>Book ISBN Number</th>
        <td mat-cell *matCellDef="let request">{{request.bookDetail.bookIsbnNumber}}</td>
    </ng-container>
    
    <ng-container matColumnDef="bookAuthorName">
        <th mat-header-cell *matHeaderCellDef>Book Author Name</th>
        <td mat-cell *matCellDef="let request">{{request.bookDetail.bookAuthorName}}</td>
    </ng-container>
    
    <ng-container matColumnDef="bookName">
        <th mat-header-cell *matHeaderCellDef >Book Name</th>
        <td mat-cell *matCellDef="let request">{{request.bookDetail.bookName}}</td>
    </ng-container>
    
    
    <ng-container matColumnDef="catogory">
        <th mat-header-cell *matHeaderCellDef mat->Catogory</th>
        <td mat-cell *matCellDef="let request">{{request.bookDetail.catogory}}</td>
    </ng-container>
    <ng-container matColumnDef="duoDate">
        <th mat-header-cell *matHeaderCellDef>duoDate</th>
        <td mat-cell *matCellDef="let request">{{request.duoDate}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="rowDetail"></tr>
    <tr mat-row *matRowDef="let row;columns:rowDetail"></tr>
    
</table>
<mat-paginator [pageSizeOptions]="[1,3,5]"></mat-paginator>
</div>
</div>
